name: CI

on:
  pull_request:
    branches:
      - develop

jobs:
  tests-and-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest

      - name: Run flake8
        run: |
          source .venv/bin/activate
          flake8 app tests

  # infracost:
  #   runs-on: ubuntu-latest
  #   needs: tests-and-lint
  #   if: ${{ github.event_name == 'pull_request' }}

  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Terraform init (no backend)
  #       run: terraform -chdir=infra/app init -backend=false

  #     - name: Run Infracost
  #       uses: infracost/infracost-gh-action@v1
  #       with:
  #         path: infra/app
  #         terraform_working_directory: infra/app
  #         post_condition: always