name: Deploy to Dev

on:
  push:
    branches:
      - develop

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create build folder
        run: mkdir -p build

      - name: Create lambda package
        run: |
          cd app
          zip -j ../build/lambda.zip handler.py domain.py __init__.py

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Terraform init
        working-directory: infra/app
        run: terraform init -input=false

      - name: Terraform apply
        working-directory: infra/app
        run: terraform apply -auto-approve -input=false

      - name: Upload frontend to S3
        run: |
          aws s3 sync frontend/ s3://${{ secrets.S3_FRONTEND_BUCKET }} --delete